{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-5 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-lg p-3 mb-5 rounded outer-card-color">
                        <div class="card-body card-color">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" height="300" alt="Blog placeholder"
                                    src="https://res.cloudinary.com/dw7lawnyl/image/upload/v1670591937/football_zckwts.jpg">
                                {% else %}
                                <img class="card-img-top" alt="user blog image" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p><span class="fw-bold author">Author:</span> <span
                                            class="text-capitalize fst-italic">{{ post.author }}</span></p>
                                </div>
                                </a>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title white-text hover">{{ post.title }}</h2>
                                <p class="card-text white-text hover">{{ post.excerpt }}</p>
                            </a>
                            <hr>
                            <p class="card-text fw-light h6 white-text">{{ post.created_date}} <i
                                    class="far fa-heart white-text"></i>
                                {{ post.number_of_likes }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="btn mt-3 mb-3 fs-5" id="post-btn">PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn mt-3 mb-3 fs-5" id="post-btn"> NEXT</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>


{% endblock %}