{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row g-0">
        <div class="col-md-6 mt-5 d-flex flex-column bd-highlight mb-3">
            <h1 class="post-title p-2 bd-highlight">
                {{ post.title }}
            </h1>
            <small class="post-subtitle text-capitalize p-2 bd-highlight"> By: {{ post.author }} |
                {{ post.created_date }} </small>
        </div>

        <div class="d-none d-md-block col-md-6 mt-5">
            {% if "placeholder" in post.featured_image.url %}
            <img class="card-img-top post-img img-fluid"
                src="https://res.cloudinary.com/dw7lawnyl/image/upload/v1670592649/cover_photo_vmqmn5.jpg" width="100%"
                height="250" alt="Football pitch image">
            {% else %}
            <img src=" {{ post.image.url }} " class="card-img-top post-img img-fluid" width="100%" height="250"
                alt="An uploaded image by the user">
            {% endif %}
        </div>
    </div>
</div>

<!-- comment section -->
<div class="container">
    <div class="row">
        <div class="col card mt-3 left top">
            <div class="card-body">
                <p class="card-text text-justify"> {{ post.content | safe }} </p>
                <div class="row col-md-6 col-lg-5">
                    <div class="col-2 p-0">
                        <strong>
                            {% if user.is_authenticated %}

                            <form class="d-inline" action="#" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i
                                        class="fa-solid fa-heart-circle-check"></i></button>

                                {% else %}

                                <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like"><i
                                        class="fa-regular fa-heart"></i></button>

                                {% endif %}
                            </form>
                            {% else %}
                            <span class=""><i class="fa-regular fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-2 p-0">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row d-flex card-bg">
        <div class="col-md-8 card mb-4 mt-3 pt-2 pb-2 card-bg">
            <h3>Comments:</h3>
            <div class="card-body" id="comments">
                <!-- iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments p-1">
                    <p class="text-justify text-dark fw-bold">
                        {{ comment.name }} wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    <span class="fw-light card-bg">
                        {{ comment.created_date }}
                    </span> 
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card mb-4 mt-1 card-bg">
            <div class="card-body mt-3 pt-0 pb-4">

                <h3>Tell us what you think:</h3>
                <p class="text-justify">Posting as: <span class="text-capitalize">{{ user.username }}</span></p>
                <form method="POST">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark btn-lg mt-2">Submit</button>
                </form>
        {% else %}
                <div class="col-md-8 card mb-4 mt-3 card-bg p-2">
                    <h3>Comments:</h3>
                    <p>You must be logged in to view/post comments</p>
                </div>
        {% endif %}
            </div>
        </div>
    </div>


</div>

{% endblock %}